spring:
  application:
    name: tabletop-rpg-manager-dev
  datasource:
    url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/${PGDATABASE:trpg_db}
    username: ${PGUSER:trpg_user}
    password: ${PGPASSWORD:trpg_password}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:}
      password: ${REDIS_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update # dev only!
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true
        # use_sql_comments: true
        envers:
          audit-table-suffix: _audit
          revision-field-name: revision_id
          revision-type-field-name: revision_type
          default-schema: audit

server:
  port: 9010

management:
  server:
    port: 9011
  endpoints:
    web:
      exposure:
        include: health,info,metrics,beans,env,loggers
  endpoint:
    health:
      show-details: when-authorized

jwt:
  # secret: secret-key-for-dev-environment-please-change-me
  # secret: ${random.value}
  secret: ${JWT_SECRET:${random.value}}
  refresh-length: 32 # 256 bits of entropy
  access-expiration: 300000 # 5 minutes (in milliseconds)
  refresh-expiration: 900000 # 15 minutes (in milliseconds)
  issuer: tabletop-rpg-manager-dev

logging:
  level:
    root: INFO

app:
  bootstrap:
    admin:
      username: ${ADMIN_USERNAME:admin}
      email: ${ADMIN_EMAIL:admin@example.com}
      password: ${ADMIN_PASSWORD:change-me}
